/* ============== основные стили для всех страниц ============= */

:root {
  --first-black-color: #212121;
  --secondary-black-color: #757575;
  --white-color: #ffffff;
  --blue-secondary-color: #2196f3;
  --fotter-color-link: rgba(255, 255, 255, 0.6);
  --buttom-background: #f5f4fa;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

.body {
  color: var(--first-black-color);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  background-color: var(--white-color);
}

footer {
  background-color: #2f303a;
}

address {
  font-style: normal;
}

a,
ul,
ol {
  text-decoration: none;
  list-style: none;
  color: inherit;
  margin: 0px;
  padding: 0px;
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

.container {
  width: 1200px;
  padding: 0px 15px;
  margin: 0 auto;
}

header {
  height: 81px;
  border-bottom: 1px solid #ececec;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/* ============== навигация + контактные данные ============= */

.logo-header {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  padding-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo {
  color: var(--blue-secondary-color);
}

.active {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.333;
  letter-spacing: 0.02em;
  color: var(--blue-secondary-color);
}

.link {
  position: relative;
  font-size: 14px;
  line-height: 1.1428;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms var(--cubic);
}

.link.contacts {
  color: var(--secondary-black-color);
  font-size: 14px;
  line-height: 1.14285;
  letter-spacing: 0.02em;
}

.link:hover,
.link:focus,
.link:active,
.link.contacts:hover,
.link.contacts:focus,
.link.contacts:active {
  color: var(--blue-secondary-color);
}

.active::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--blue-secondary-color);
  bottom: 0;
  left: 0;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation-list {
  display: flex;
  align-items: center;
}

.navigation-link:not(:last-child) {
  margin-right: 50px;
}

.navigation-list-contacts {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-end;
  margin-left: auto;
}

.navigation-link-contacts:not(:last-child) {
  margin-right: 50px;
}

.header-svg {
  margin-right: 10px;
  fill: #757575;
}

.envelope {
  width: 16px;
  height: 12px;
}

.smartphone {
  width: 10px;
  height: 16px;
}

.contacts {
  display: flex;
  align-items: center;
}

.link.contacts:hover .header-svg,
.link.contacts:focus .header-svg {
  fill: var(--blue-secondary-color);
}

/* ============== заголовок + кнопка ============= */

.order-service {
  background-color: #c4c4c4;
  width: auto;
  height: 600px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/Img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.order-service-heading {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3636;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  box-sizing: content-box;
  width: 696px;
  height: 120px;
  padding-top: 200px;
  padding-left: 237px;
  padding-right: 237px;
  padding-bottom: 30px;
}

.order-service-button {
  background: var(--blue-secondary-color);
  color: var(--white-color);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  border: none;
  padding: 0;
  margin-left: 485px;
  margin-right: 485px;
  margin-bottom: 200px;
}

/* ============== перечисление особенностей ============= */

.feature-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.feature-list {
  display: flex;
  justify-content: space-between;
}

.feature-item {
  width: 270px;
}

.feature-heading {
  font-size: 14px;
  line-height: 1.1428;
  letter-spacing: 0.03em;
  padding-bottom: 10px;
}

.feature-paragraph {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142;
  letter-spacing: 0.03em;
  color: var(--secondary-black-color);
}

.feature-container {
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
}

.feature-photo {
  display: inline-block;
  width: 70px;
  height: 70px;
  margin: 25px 100px;
}

/* ============== чем мы занимаемся с картинками =============  */

.index {
  padding-bottom: 94px;
  height: 480px;
}

.index-heading {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666;
  letter-spacing: 0.03em;
  padding-bottom: 50px;
  text-align: center;
}

.index-list {
  display: flex;
  justify-content: space-between;
}

.index-item {
  position: relative;
}

.index-text {
  display: inline-block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  color: #ffffff;
  padding: 27px 0px;
  width: 370px;
  height: 70px;
  position: absolute;
  bottom: 0;
  left: 0;
}

/* ============== наша команда =============  */

.crewman-section {
  background-color: var(--buttom-background);
  padding-top: 94px;
  padding-bottom: 94px;
}

.command-heading {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666;
  letter-spacing: 0.03em;
  text-align: center;
  padding-bottom: 50px;
}

.command-list {
  display: flex;
  justify-content: space-between;
}

.command-item {
  width: 270px;
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.crewman {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--first-black-color);
  padding-bottom: 10px;
  padding-top: 30px;
}
.crewman-profession {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--secondary-black-color);
  padding-bottom: 16px;
}

.crewman-social-link {
  display: flex;
  /* justify-content: center; */
  width: 206px;
  margin: 0 auto;
  padding-bottom: 30px;
}

.social-link {
  display: block;
  border-radius: 50px;
  width: 44px;
  height: 44px;
  transition: background-color 250ms var(--cubic), fill 250ms var(--cubic);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--blue-secondary-color);
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: var(--white-color);
}

.crewman-social-link li:not(:last-child) {
  margin-right: 10px;
}

.social-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 12px 12px;
  fill: #afb1b8;
}

/* ============== наши клиенты =============  */

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-list {
  display: flex;
  justify-content: space-between;
}

.clients-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: solid 1px #afb1b8;
  border-radius: 4px;
  transition: border-color 250ms var(--cubic);
}

.clients-link:hover,
.clients-link:focus {
  border-color: var(--blue-secondary-color);
}

.clients-link svg {
  transition: fill 250ms var(--cubic);
}

.clients-link:hover svg,
.clients-link:focus svg {
  fill: var(--blue-secondary-color);
}

.clients-link svg {
  fill: #afb1b8;
}

.logo-1 {
  width: 44.27px;
  height: 49.23px;
}

.logo-2 {
  width: 40px;
  height: 50px;
}

.logo-3 {
  width: 41px;
  height: 42.6px;
}

.logo-4 {
  width: 79.66px;
  height: 42.02px;
}

.logo-5 {
  width: 59px;
  height: 47px;
}

.logo-6 {
  width: 88.48px;
  height: 45.44px;
}

/* ============== подвал =============  */

.footer-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-footer {
  display: block;
  color: var(--white-color);
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923;
  letter-spacing: 0.03em;
  padding-bottom: 20px;
}

.footer-adress {
  height: 82px;
}

.footer-text {
  color: var(--white-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142;
  letter-spacing: 0.03em;
  padding-bottom: 9px;
}

.link-contacts {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  display: list-item;
  transition: color 250ms var(--cubic);
}

.link-contacts:not(:last-child) {
  margin-bottom: 9px;
}

.link-contacts:hover,
.link-contacts:focus,
.link-contacts:active {
  color: var(--blue-secondary-color);
}

.social-links {
  padding-left: 70px;
}

.social-links-header {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14285;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 12px;
}

.social-link-list {
  display: flex;
  justify-content: space-between;
  width: 206px;
  height: 44px;
  margin-top: 20px;
}

.social-link-footer {
  width: 44px;
  height: 44px;
  display: inline-block;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms var(--cubic);
}

.social-link-footer:hover,
.social-link-footer:focus {
  background-color: var(--blue-secondary-color);
}

.social-icon-footer {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 12px 12px;
  fill: var(--white-color);
}

.footer {
  display: flex;
}

.footer-form {
  width: 585px;
  height: 105px;
  margin-left: 93px;
  display: inline-block;
}

.footer-form-label {
  display: inline-block;
  color: var(--white-color);
  text-transform: uppercase;
  margin-bottom: 17px;
  margin-top: 12px;
}

.footer-form-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-form-input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
  outline: none;
  padding: 15px;
  color: var(--white-color);
  transition: border-color 250ms var(--cubic);
}

.footer-form-input:focus,
.footer-form-input:hover {
  border-color: var(--blue-secondary-color);
}

.footer-form-input::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-button {
  width: 200px;
  height: 50px;
  background-color: var(--blue-secondary-color);
  color: var(--white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: solid 1px var(--blue-secondary-color);
  border-radius: 4px;
  outline: none;
  margin-left: 12px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-form-svg {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

/* ============== стили портфолио =============  */

/* ============== список проетов =============  */

.project-element {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-button {
  display: flex;
  height: 38px;
  align-items: stretch;
  justify-content: center;
  margin-bottom: 50px;
}

.button {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.03em;
  font-family: inherit;
  color: inherit;
  background-color: var(--buttom-background);
  border-radius: 4px;
  padding: 6px 22px;
  border: 0px;
  height: 38px;
  transition: color 250ms var(--cubic), background-color 250ms var(--cubic),
    box-shadow 250ms var(--cubic);
}

.button-item:not(:last-child) {
  margin-right: 9px;
}

.button:hover,
.button:focus,
.button:active {
  color: var(--white-color);
  background-color: var(--blue-secondary-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project-element-list {
  display: flex;
  flex-wrap: wrap;
}

.project-element-item {
  /* border: 1px solid #eeeeee; */
  outline: 1px solid #eeeeee;
  width: 370px;
  height: auto;
}

.project-element-link {
  display: block;
  transition: box-shadow 250ms var(--cubic);
}

/* .project-element-link:hover,
.project-element-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
  1px 4px 6px rgba(0, 0, 0, 0.16);
} */

.project-element-item:not(:nth-child(3n + 3)) {
  margin-right: 30px;
}

.project-element-item:nth-last-child(n + 4) {
  margin-bottom: 30px;
}

.project-element-images {
  width: 370px;
  height: 294px;
}

.heading {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.text {
  color: var(--secondary-black-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
}

.project-element-text {
  padding: 20px 24px;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55555;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  transform: translateY(100%);
  transition: transform 250ms var(--cubic);
}

.overlay-item {
  position: relative;
  overflow: hidden;
}

.project-element-link:hover .overlay,
.project-element-link:focus .overlay,
.project-element-link:hover,
.project-element-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transform: translateY(0);
}

/* ============== модальное окно  =============  */

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms var(--cubic), visibility 250ms var(--cubic);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.button-close {
  position: absolute;
  display: block;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--white-color);
}

.button-close:hover,
.button-close:focus,
.button-close:active {
  fill: var(--blue-secondary-color);
}

.icon-close {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: fill 250ms var(--cubic);
}

.modal-head {
  display: inline-block;
  width: 100%;
  height: 23px;
  margin-top: 40px;
  margin-bottom: 12px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal-form {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  margin-right: 40px;
}

.modal-form-label {
  padding-top: 10px;
  padding-bottom: 4px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms var(--cubic), fill 250ms var(--cubic);
  padding-left: 40px;
}

.modal-form-input:hover,
.modal-form-input:focus,
.modal-form-input:active {
  border-color: var(--blue-secondary-color);
  fill: var(--blue-secondary-color);
}

.modal-form-textarea {
  width: 100%;
  height: 120px;
  resize: none;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  transition: border-color 250ms var(--cubic);
}

.modal-form-textarea:focus,
.modal-form-textarea:hover,
.modal-form-textarea:active {
  border-color: var(--blue-secondary-color);
}

.modal-form-textarea::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.1428;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-checkbox-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142;
  letter-spacing: 0.03em;
  color: #757575;
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
}

.modal-form-checkbox-text a {
  color: var(--blue-secondary-color);
  text-decoration: underline;
}

.modal-form-svg {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 11px;
  left: 12px;
  transition: fill 250ms var(--cubic);
}

.modal-form-input:focus ~ .modal-form-svg,
.modal-form-input:hover ~ .modal-form-svg,
.modal-form-input:active ~ .modal-form-svg {
  fill: var(--blue-secondary-color);
}

.modal-form-position-item {
  position: relative;
}

.modal-form-svg-checkbox {
  width: 16px;
  height: 15px;
  fill: var(--white-color);
  border: solid 2px var(--first-black-color);
  border-radius: 2px;
}

.modal-form-checkbox:checked
  ~ .modal-form-checkbox-text
  > .modal-form-svg-checkbox {
  fill: var(--white-color);
  background-color: var(--blue-secondary-color);
  border-color: var(--blue-secondary-color);
}

.modal-form-button {
  width: 200px;
  height: 50px;
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: solid 1px #188ce8;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
  outline: none;
  margin: 0 auto;
  margin-top: 30px;
}

/* ============== что-то другое  =============  */
